<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>header</key>
		<string>廣西</string>
		<key>footer</key>
		<string>廣西父老鄉親們你們好</string>
		<key>cities</key>
		<array>
			<string>南寧</string>
			<string>來賓</string>
			<string>柳州</string>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>湖北</string>
		<key>footer</key>
		<string>湖北廣大父老鄉親們你們可好？</string>
		<key>cities</key>
		<array>
			<string>武漢</string>
			<string>黃岡</string>
			<string>荊門</string>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>四川</string>
		<key>footer</key>
		<string>四川滴父老鄉親們你們好</string>
		<key>cities</key>
		<array>
			<string>成都</string>
			<string>綿陽</string>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>廣東</string>
		<key>footer</key>
		<string>廣東人民好！</string>
		<key>cities</key>
		<array>
			<string>深圳</string>
			<string>廣州</string>
			<string>東莞</string>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>四川</string>
		<key>footer</key>
		<string>四川滴父老鄉親們你們好</string>
		<key>cities</key>
		<array>
			<string>成都</string>
			<string>綿陽</string>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>湖北</string>
		<key>footer</key>
		<string>湖北廣大父老鄉親們你們可好？</string>
		<key>cities</key>
		<array>
			<string>武漢</string>
			<string>黃岡</string>
			<string>荊門</string>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>廣西</string>
		<key>footer</key>
		<string>廣西父老鄉親們你們好</string>
		<key>cities</key>
		<array>
			<string>南寧</string>
			<string>來賓</string>
			<string>柳州</string>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>湖北</string>
		<key>footer</key>
		<string>湖北廣大父老鄉親們你們可好？</string>
		<key>cities</key>
		<array>
			<string>武漢</string>
			<string>黃岡</string>
			<string>荊門</string>
		</array>
	</dict>
	<dict>
		<key>header</key>
		<string>廣東</string>
		<key>footer</key>
		<string>廣東人民好！</string>
		<key>cities</key>
		<array>
			<string>深圳</string>
			<string>廣州</string>
			<string>東莞</string>
		</array>
	</dict>
</array>
</plist>
