<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cityName</key>
		<string>深圳</string>
		<key>population</key>
		<integer>65432345</integer>
	</dict>
	<dict>
		<key>cityName</key>
		<string>北京</string>
		<key>population</key>
		<integer>9998</integer>
	</dict>
	<dict>
		<key>cityName</key>
		<string>长沙</string>
		<key>population</key>
		<integer>677</integer>
	</dict>
	<dict>
		<key>cityName</key>
		<string>上海</string>
		<key>population</key>
		<real>56689934</real>
	</dict>
	<dict>
		<key>cityName</key>
		<string>广州</string>
		<key>population</key>
		<integer>346823</integer>
	</dict>
	<dict>
		<key>cityName</key>
		<string>柳州</string>
		<key>population</key>
		<integer>5678445</integer>
	</dict>
	<dict>
		<key>cityName</key>
		<string>大理</string>
		<key>population</key>
		<integer>567348</integer>
	</dict>
	<dict>
		<key>cityName</key>
		<string>海口</string>
		<key>population</key>
		<integer>7578</integer>
	</dict>
	<dict>
		<key>cityName</key>
		<string>东莞</string>
		<key>population</key>
		<real>346823</real>
	</dict>
	<dict>
		<key>cityName</key>
		<string>梅州</string>
		<key>population</key>
		<integer>345212</integer>
	</dict>
	<dict>
		<key>cityName</key>
		<string>惠州</string>
		<key>population</key>
		<integer>3421222</integer>
	</dict>
	<dict>
		<key>cityName</key>
		<string>重庆</string>
		<key>population</key>
		<integer>342566</integer>
	</dict>
	<dict>
		<key>cityName</key>
		<string>天津</string>
		<key>population</key>
		<integer>58342</integer>
	</dict>
</array>
</plist>
